<?php

return array(
    'jira_token' => '<YOUR MATTERMOST COMMAND TOKEN HERE>',
    'translate_token' => array('<YOUR MATTERMOST COMMAND TOKEN1 HERE>', '<YOUR MATTERMOST COMMAND TOKEN2 HERE>'),
);

